body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding: 0;
    margin: 0;
    background-color:#ffffff;
}

.container{
    margin:auto;
    padding-top: 6%;
    width:80%;
    overflow:hidden;  
}

/*header styles*/

#topSect{
    width:70%;
    margin:auto;  /*centers*/
    overflow:hidden;  /*no scrollbar if exceed div*/
}

#topSect a{
    color:#002D72; /*dark blue*/
    text-decoration:none;
}

header{
    z-index: 3;
    height: 6%;
    width:100%;
    position: fixed;
    background:#ffffff;
    padding-top:20px;
    min-height:70px; /*min-height so height adjust when responsive*/
    border-bottom:#002D72 6px solid; /*border line dark blue*/
}

header #topLogo{ /*moving top logo to left*/
    float:left;
}

header #topLogo h1{
    margin:0;
}

header #topLogo h1 a{
    min-height:80px;
}

header .highlight, header .current a{
    color:#6babdd;
}

header #topSect ul{
    margin:0px;
    padding:0px;
}

header #topSect li{
    float:left;
    display:inline;
    padding: 0px 10px 0px 10px;
}

header #topSect nav{ /*moving nav bar to right*/
    float:right;
    margin-top:10px;
}

header #topSect nav a{
    padding:5px 10px 5px 10px;
    display: block;
    text-transform:uppercase;
    font-size:18px;
    font-weight:bold;
}
header #topSect nav a:hover{
    color:#ffffff;
    background-color:#6babdd;
}

/* end of header styles */


/* welcome on index html */
#welcome{
    min-height:400px;
    text-align:center;
    color:#ffffff;
}

#welcome h1{
    margin-top:120px;
    font-size:55px;
    margin-bottom:10px;
}

#welcome h4{
    font-size:20px;
    margin-top:10px;
    margin-bottom:10px;
}
/*end of welcome showcase styles index html*/


/*subject boxes*/

#courseDisplay .courseBox{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
}

#courseDisplay .courseBox a{
    color:#002D72;
    text-decoration:none;
}

/*setting dimensions of images*/
#courseDisplay .courseBox img{
    width:240px;
}

/*end of subject boxes styles*/


/*about.html styles*/
/*Our Goal main col styles*/
article#main-column{
    float:left;
    width:60%;
    color:#002D72;
}

/*our goal font size*/
article#main-column h1{
    font-size:30px;
}
/*our goal message font size*/
article#main-column p{
    font-size:25px;
}

/*sidebar/about me styles*/
aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
}
aside#sidebar p{
    font-size:18px;
}
/*end about.html styles*/

/*this is light blue back used on about page*/
.lightBlue{
    padding:10px 15px 10px 15px;
    background:#002D72;
    color:#ffffff;
    margin-top:30px;
    margin-bottom:10px;
}
/*end of light blue styles*/
