body {
    margin-top: 13%;
    background-color: #FAFAFA;
    /*background-color: #ebf5ff;*/  
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    height: 100%;
}

/*main card section styles*/
body .course_card {
    margin: 0rem 0rem 2rem 0rem;
    border: 0rem solid var(--main-blue);
    box-shadow: .1rem .1rem .2rem .2rem #ccc;
    border-radius: 1rem;
}
body .course_card_header {
    color: var(--main-blue);
    padding: 1rem;
    background-color: #EEEEEE;
    border-radius: 1rem;
}
body .course_card_body {
    padding: 3%;
    background-color: #FFFFFF;
    border-radius: 1rem;

}
body .course_card_button:active,
body .course_card_button {
    outline: none;
    background-color: inherit;
    /*color: white;*/
    border: 0rem solid #ccc;
	float: right;
}
body .course_card_button:hover{
    background-color: inherit;
    /*color: #000000;*/
}

/*button*/
[data-toggle="collapse"] .fa:before {  
    content: "\f139";
}
  
[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}

/*page title*/
body #page_title {
    text-align: center;
    font-family: Comic Sans MS;
    margin-bottom: 2%;
}


/*profile picture*/
body #profile_picture_display img {
    padding: .5rem;
    border: .2rem solid #ccc;
    border-radius: .8rem;
    width: 20rem;
    height: 20rem;
}
body #profile_picture_label {
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
}
input[type="file"] {
    display: none;
}



/*personal info*/
body .account_info_section {
    margin-top: 1rem;
}
body .account_info_value{
    padding: .3rem .3rem .3rem .6rem;
    border: .2rem solid #ccc;
    border-radius: .5rem;
}
/*edit info, save and cancel button*/
body .edit_account_info_btn,
body .edit_account_info:active {
    outline: none;
    color: #FFFFFF;
    border: 0rem solid var(--main-blue);
    float: right;
    background-color: var(--main-blue);
    border-radius: .2rem;
}
body .edit_account_info_btn:hover {
    background-color: green;
}
body .cancel_btn,
body .cancel_btn:active {
    margin-left: 1rem;
    outline: none;
    color: #FFFFFF;
    border: 0rem solid var(--main-blue);
    float: right;
    background-color: red;
    border-radius: .2rem;
}
body .cancel_btn:hover {
    background-color: darkred;
}


