h2, h3, h4 {
	font-family: Comic Sans MS;
	text-align: center;
}

body {
	margin-top: 13%;
	background-color: #FAFAFA;
	/*background-color: #ebf5ff;*/  
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	height: 100%;
}

body img {
	box-shadow: .3rem .3rem .5rem .5rem #ccc;
}

body .text_section {
	box-shadow: .3rem .3rem .5rem .5rem #ccc;
	background-color: #FFFFFF;
	padding: 1.5%;
	font-size: 125%;
	font-family: Trebuchet MS;
	/*
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  
	-moz-box-shadow:    3px 3px 5px 6px #ccc;  
	box-shadow:         3px 3px 5px 6px #ccc;  */		
}
