body {
    margin-top: 13%;
    background-color: #FAFAFA;
    /*background-color: #ebf5ff;*/  
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    height: 100%;
}

/*Course Layout Styles */
body #about_me .course_title {
    color: var(--main-blue);
}
body #about_me .course_box {
    background-color: white;
    margin: 1.5rem;
    border: .2rem solid var(--main-blue);
    border-radius: 5px;
}
body #about_me .course_icon {
    padding: 1rem;
}
body #about_me .course_description {
    font-family: Comic Sans MS;
    padding: 1.5rem 1rem 1rem 1rem;
    border-top: .2rem solid var(--main-blue);
    /*margin: 1.5rem 1rem 1rem 1rem;*/
}

