body {
    margin-top: 13%;
    background-color: #FAFAFA;
    /*background-color: #ebf5ff;*/  
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    height: 100%;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: inherit;
}

/*Course Layout Styles */
body #course_grid .course_title {
    color: var(--main-blue);
}
body #course_grid .course_box {
    box-shadow: .3rem .3rem .6rem .6rem #ccc;
    background-color: white;
    margin: 1rem;
    border: .1rem solid var(--main-blue);
    border-radius: 1rem;
}
body #course_grid .course_box:hover {
    box-shadow: .0rem .0rem .4rem .4rem var(--main-blue);
}
body #course_grid .course_icon {
    padding: 1rem;
}
body #course_grid .course_description {
    font-family: Comic Sans MS;
    padding: 1.5rem 1rem 1rem 1rem;
    border-top: .1rem solid var(--main-blue);
    /*margin: 1.5rem 1rem 1rem 1rem;*/
}

