body {
    margin-top: 13%;
    background: url('https://i.imgur.com/Oeqkeva.jpg');
    /* background: url('https://imgur.com/s6KHCfa.jpg'); */
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
}

body #welcome {
    text-align: center;
}

h1, h2, h3 {
    font-family: Courier New;
}
