body {
    margin-top: 20%;
    /*background: url('https://i.imgur.com/Oeqkeva.jpg');*/
    background-color: #FFFFFF;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
}

.blue_word {
    color: var(--main-blue);
}

body #welcome {
    text-align: center;
}

/*sign up button*/
body #sign_up, #sign_up:visited, #sign_up:active {
    outline: none;
    color: var(--main-blue);
    box-shadow: .1rem .1rem .15rem .15rem #ccc;
    background-color: white;
    padding: .7% 1.4% .7% 1.4%;
    font-size: 120%;
    font-family: Trebuchet MS;
    border: .2rem solid var(--main-blue);
    border-radius: 1rem;
    margin-top: 2rem;
}
body #sign_up:hover {
    box-shadow: .0rem 0rem .1rem .2rem var(--main-blue);
}

h1, h2, h3 {
    font-family: Comic Sans MS;
}
