.sidebar {
    font-size: 125%;
}

.sidebar .sidebar_item {
    color: var(--main-blue);
    list-style-type: square;
    text-decoration: none;
}

.sidebar .sidebar_item:hover {
    padding: .4rem;
    box-shadow: .1rem .1rem .2rem .2rem #ccc;
    border-radius: 1rem;
}

.sidebar .sidebar_item a:hover {
    text-decoration: #000000;
    color: #000000;
}